/*css file for splashscreen*/

#intro {
	background: url("https://raw.githubusercontent.com/tinar9678/tinar9678.github.io/master/pictures/welcome.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	height: 100vh;
}

h1 {
	font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
	color: #fff;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
  
}

#center {
	position:fixed;
	line-height:5%;
	top: 15%;
	left: 50%;
	margin-left: -50px; 
	margin-top: -25px;

}

.content {
	position:fixed;
	top: 100%;
	width: 100%;
	height: 350px;
	background: #fff1f3;
}

p, h3 {
	max-width: 600px;
	margin: 0 auto 20px; 

	font-family: monaco,Consolas,Lucida Console,monospace;
}
